/*
 CSS specifically for the nodesign sample pages.
*/
Body {
    font-family: "Arial", "sans-serif";
    margin: 10px; padding: 0;
}

h2, h1 {
    margin: 0; padding: 0;
}
h1 {
    padding: 5px;
    background-color: #D0BFA6;
}
h2 a {
    font-size: small;
    font-weight: normal;
    border: none;
}
.hints li {
    margin-left: 20px;
    font-size: smaller;
}

a {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 10px;
    margin-right: 5px;
    border-bottom: 1px solid #D0BFA6;
    border-left: 4px solid #D0BFA6;
}

div#pagecontent > div {
    margin-top: 20px;
}
.hints {
    font-style: italic;
    padding: 30px;
}
.header {
    float: right;
}
.header > div {
    display: inline-block;
}
label {
    display: inline-block;
    width: 8em;
}
input[type="text"], input[type="email"] {
    width: 200px;
}
button {
    background-color:  #D0BFA6;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
input:required {
    border-left: 1px solid red;
}
input:invalid {
    background-color: #fcebcf;
}

#nd-left {
    float: left;
    width: 24%;
}
#nd-right {
    float: right;
    width: 75%;
}
.nd-container {
    margin: 0;
    padding: 0;
    width: 100%;
}
div#pagecontent > div#nd-left, div#pagecontent > div#nd-right {
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

div.oo-navi-head {                /* example for a header. See shop1.html, you may add a top-level related image that way */
    height: 100px;
    background-color: #ffeed4;
    text-align: center;
    vertical-align: middle;
    background-size: cover;
    padding: 60px;
    font-size: 30px;
    color: white;
    background-position: center;
}

@media (max-width: 645px) {      /* no space for fancy navigation here*/
    #nd-left { display: none }
    #nd-right {
        width: 100%;
    }
}

/* example tickers based on server provided template */

#myticker1 {
    width: 600px;
}
#myticker1 .oo-ticker-item {
    width: 200px;
}

#myticker2 .oo-ticker-pane {
}
#myticker2 .oo-ticker-item {
    display: inline-block;
    margin: 20px;
    width: 210px;
}
#myticker2 {
    width: 500px;
}

.index1-ticker {
    float: left;
}
.index1-ticker .oo-ticker {
    display: inline-block;
}

/* finetuning components, overrides CSS in oo.css */

/****** Navigation Component */

#oo-navi LI {                 /* make it horizontal */
    display: inline-block;
}
#oo-navi > ul {
    margin-top: 20px;
    padding-left: 5px;
}
#oo-navi .oo-navi-2nd-pane {     /* see also component-shared css below */
    padding: 20px;
}

/****** Status Component */

/****** Flash Component */

/****** Path Component  */

#oo-path UL {                   /* make it horizontal */
    margin:0;
}
#oo-path  li  {
    display: inline;
    list-style-image: none;
    font-size: smaller;
}
#oo-path  li + li:before {
    content: '> ';
}

/****** Date Component */

/****** Ticker Component */

/****** Cart Component */

/****** Shop Component */

#oo-shop .oo-shop-item:hover .oo-shop-item-select, #oo-shop .oo-shop-item:hover .oo-shop-favorite {   /* fade in the controls */
    animation: nodesign-fadein 0.5s;
}
@keyframes nodesign-fadein { from { opacity: 0; } to   { opacity: 1; }   }

#oo-shop .oo-shop-item:hover  .blend {        /* blend a bit the image below */
    animation: nodesign-fadeinb 0.5s;
}
#oo-shop .oo-shop-item:hover.oo-shop-data-type-AssortmentGroup .blend, #oo-shop .oo-shop-item:hover.oo-shop-data-type-AssortmentGroup .oo-shop-item-select {
    animation: none;
}
@keyframes nodesign-fadeinb { from { opacity: 0; } to   { opacity: 0.5; }   }

.oo-shop-sl-pane > DIV.oo-shop-data-type-NoItem {
    height: 80px;
}

/* overriding the amount indicator */
#oo-status .oo-status-cart .oo-status-cart-count:before {
    content: "";
}
#oo-status .oo-status-cart .oo-status-cart-count:after {
    content: "";
}

#oo-status .oo-status-cart-link {
    position:relative;
}
#oo-status .oo-status-cart .oo-status-cart-count {
    background: gray radial-gradient(circle at 5px -9px , gray, gray) repeat scroll 0 0;
    border-radius: 16px;
    color: white;
    font-weight: bold;
    font-size: smaller;
    height: 16px;
    min-width: 16px;
    padding: 0 3px;
    text-align: center;
    position: absolute;
    top: -8px;
    right: -8px;
}
#oo-status .oo-status-cart.oo-status-cart-modified .oo-status-cart-count {
    background: red radial-gradient(circle at 5px -9px , red, red) repeat scroll 0 0;
    color: white;
}
/****** Search Component */

/****** Profile Component */
.oo-profile-location {
    float: right;
}
.oo-profile-address > div {
    clear:both;
}


/****** Loading pseudo Component */

/****** Logon Component */

/****** filter component */

/****** some shared assignments for components */

/*        End highlighting components **/

/****** oo Framework */


/*         end oo **/
